ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center right;
  background-image: url("../../assets/img/hero.png");
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  margin-bottom: 120px;
}
.banner:before {
  content: "";
  background: linear-gradient(rgba(29, 33, 36, 0.03), rgba(29, 33, 36, 0.49));
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

.banner__title {
  font-size: 72px;
  font-weight: 700;
}

.banner__content {
  width: 100%;
  z-index: 2;
}

.banner__subtitle {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .banner__subtitle {
    font-size: 19px;
  }
}
.banner__subtitle:after {
  content: "";
  border-bottom: solid 2px #fff;
  width: 20px;
  margin-left: 15px;
}
@media (min-width: 992px) {
  .banner__subtitle:after {
    width: 40px;
  }
}

.footer {
  padding-top: 120px;
  color: #fff;
  background-color: #2d2424;
}

.footer__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
  }
}

.footer__info {
  flex: 1;
}

.footer__menu {
  flex: 2;
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.footer__subtitle {
  margin-bottom: 25px;
}

.footer__links li {
  margin-bottom: 10px;
}
.footer__links a {
  color: white;
}

.footer__bottom {
  padding: 40px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.teaser {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
}
@media (min-width: 768px) {
  .teaser {
    flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .teaser__img,
.teaser__content {
    width: 50%;
  }
}

.teaser__content {
  padding: 50px;
}

.teaser__img img {
  width: 100%;
}
@media (min-width: 768px) {
  .teaser__img img {
    border-top-right-radius: 50% 103%;
    border-bottom-right-radius: 50% 100%;
    height: 600px;
    object-fit: cover;
    object-position: right center;
  }
}
@media (min-width: 992px) {
  .teaser__img img {
    max-width: 700px;
  }
}

.teaser__avatar {
  display: flex;
}
.teaser__avatar p {
  margin-bottom: 0;
}
.teaser__avatar .teaser__avatar-content {
  margin-left: 10px;
}

.simple-card {
  text-align: center;
  margin-bottom: 60px;
}
.simple-card h4 {
  color: #b85c38;
  margin-top: 25px;
  margin-bottom: 18px;
}
.simple-card p {
  color: #bdbdbd;
}

.card-horizontal {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.card-horizontal img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}
.card-horizontal a {
  color: #b85c38;
}
.card-horizontal p {
  color: #bdbdbd;
}

.basic-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: #2d2424;
  background-color: #fff;
  box-shadow: 0 6px 13px 2px rgba(0, 0, 0, 0.11);
  transition: all 0.2s ease;
}
.basic-card:hover {
  text-decoration: none;
  transform: translateY(-2px);
  box-shadow: 0 6px 13px 2px rgba(0, 0, 0, 0.25);
}
.basic-card img {
  object-fit: cover;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.basic-card .basic-card__content {
  padding: 20px 30px 70px;
}
.basic-card h4 {
  color: #2d2424;
}
.basic-card p {
  color: #bdbdbd;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review-card {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .review-card {
    margin-bottom: 50px;
  }
}
.review-card img {
  border-radius: 50%;
  width: 100%;
  max-width: 90px;
}
.review-card p {
  padding-top: 24px;
  padding-bottom: 24px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fff;
}

.bg-color-secondary {
  background-color: #f7f9fc;
}

.bg-color-tertiary {
  background-color: #e0c097;
}

.subtitle {
  color: #bdbdbd;
}

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
}
@media (max-width: 992px) {
  .navbar {
    background-color: #2d2424;
  }
}

.navbar__logo {
  max-width: 160px;
}

/*# sourceMappingURL=index.css.map */
