@import "variables";
@import "reset.scss";
@import "buttons.scss";
@import "banner.scss";
@import "footer.scss";
@import "teaser.scss";
@import "cards.scss";

body {
  font-family: "Nunito", sans-serif;
  background-color: $bg-color-primary;
}

// utility classes

.bg-color-secondary {
  background-color: $bg-color-secondary;
}

.bg-color-tertiary {
  background-color: $bg-color-tertiary;
}

.subtitle {
  color: $text-color-secondary;
}

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

// navbar

.navbar {
  position: absolute;
  width: 100%;
  z-index: 100;

  @media (max-width: 992px) {
    background-color: $text-color-primary;
  }
}

.navbar__logo {
  max-width: 160px;
}
